#cat{
    animation: catAnim 500ms infinite;
    width: 500px;
}
#q5{
    background-color: blue;
    font-size: 24px;
    animation: move1 500ms infinite;
}
#q3{
    background-color: blue;
    font-size: 24px;
    animation: move2 500ms infinite;
}


@keyframes move1 {
    0%{
        background-color: black;
        transform: scaleX(1);
    }
    50%{
        background-color: black;
        transform: scaleX(0.9);
    }
    100%{
        background-color: black;
        transform: scaleX(1);
    }
}
@keyframes move2 {
    0%{
        background-color: black;
        transform: translateY(20px);
    }
    50%{
        background-color: black;
        transform: translateX(30px);
    }
    90%{
        transform: translateX(0px);
    }
    100%{
        background-color: black;
        transform: translateY(30px);
    }
}
@keyframes catAnim {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(-25deg);
    }
    50%{
        transform: rotate(0deg);
    }
    75%{
        transform: rotate(25deg);
    }
    100%{
        transform: rotate(0deg);
    }
}